@charset "utf-8";

main > section {
  max-width: 100%;
  margin: 0 auto;
}

.header_wrap {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_logo {
  font-family: "Hubballi";
  font-size: 20px;
  font-weight: regular;
  padding-top: 30px;
  padding-left: 72px;
  white-space: nowrap;
}
.header_ul {
  font-size: 12px;
  display: flex;
  padding-top: 30px;
  padding-right: 180px;
}

.header_nav li {
  padding-left: 30px;
  white-space: nowrap;
  padding-right: 15px;
}

h2 {
  font-size: 40px;
  padding-left: 10%;
  white-space: nowrap;
  /* position: absolute; */
}
.home h2 {
  padding-top: 200px;
  padding-left: 10%;
  white-space: nowrap;
}
.concept h2 {
  padding-top: 87px;
  padding-left: 10%;
  white-space: nowrap;
}
.about h2 {
  padding-top: 87px;
  white-space: nowrap;
  padding-bottom: 160px;
  position: relative;
  top: 100px;
  left: 0%;
}

/*ヘッダーエリア*/
.header_nav a {
  position: relative;
  display: inline-block;
  transition: color 0.6s ease-out;
}

.header_nav {
  max-width: 1000px;
}

.header_nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(91, 87, 62, 70);
  width: 100%;
  height: 1px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.5s ease-out;
  /*opacity: 0;
  transition: opacity 0.6s ease-out; 下線がふわっと出るタイプ*/
}

.header_nav a:hover::after {
  transform: scale(1, 1);
  transform: right top;
  /*opacity: 1;  下線がふわっと出るタイプ*/
}

/*ホームエリア*/

.home_slider_item {
  width: 100%;
  flex-shrink: 0;
  position: absolute;
  top: 100px;
  left: 33%;
  width: 800%;
  height: 100%;
  opacity: 0;
  padding-bottom: 20px;
  display: inline-block;
}

.home_slider {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  padding-bottom: 300px;
}

.home_slider_item.active {
  opacity: 1;
  animation: fadeIn 8s ease-in-out forwards;
}

@keyframes fadeIn {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.circle_home {
  display: inline-block;
  width: 250px;
  height: 250px;
  border-radius: 100% / 100%;
  border: solid 1px;
  color: #b2b2b2;
  position: relative;
  top: 555px;
  left: -130px;
  transform: rotate(90deg);
}

.scrolldown {
  position: absolute;
  top: 10%;
  left: 4%;
}

.scrolldown span {
  position: absolute;
  left: -25px;
  top: 546px;
  color: #b2b2b2;
  font-size: 15px;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

/* 矢印の描写 */
.scrolldown:before {
  content: "";
  /*描画位置*/
  position: absolute;
  top: 610px;
  right: 4px;
  /*矢印の形状*/
  width: 1px;
  height: 25px;
  background: #b2b2b2;
  transform: skewX(31deg);
}

.scrolldown:after {
  content: "";
  position: absolute;
  top: 500px;
  right: 0;
  /*矢印の形状*/
  width: 1px;
  height: 160px;
  background: #b2b2b2;
}

/*おもいエリア*/
.concept {
  max-width: 1366px;
}

.concept_background {
  background-color: #efe7b4;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 800px;
}

.concept p {
  padding-left: 10%;
  /* padding-top: 200px; */
  /* padding-bottom: 220px; */
  font-size: 16px;
  line-height: 3.75;
  font-feature-settings: "palt";
}
/*コンテンツエリア*/

.contents {
  display: inline-block;
  max-width: 1366px;
  padding-top: 80px;
  padding-bottom: 900px;
  position: relative;
  top: 850px;
  left: 15%;
}

/*私についてのエリア*/

.about {
  width: 100%;
  background-image: url("../images/img/wave_gr_1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.about_contents {
  max-width: 1000px;
  margin: 0 auto;
}
/* .about_background_color_2 {
  position: absolute;
  margin: 0 auto;
  width: 100%;
} */

.about ul {
  max-width: 1000px;
  width: 100%;
  display: flex;
  padding-bottom: 180px;
  margin: 10px auto;
  position: relative;
  top: 100px;
  left: 0%;
}

.about_photo {
  padding-top: 5px;
  height: 410px;
}

.name_p {
  font-size: 32px;
  padding-bottom: 50px;
  padding-left: 10%;
}

.profile_p {
  max-width: 100%;
  font-size: 18px;
  line-height: 1.9;
  padding-left: 10%;
  height: 500px;
}

/*できることエリア*/
.slick-prev:before,
.slick-next:before {
  color: rgb(255, 255, 255);
}

.about_skill_slider {
  max-width: 1000px;
  width: 100%;
}

.about_slider_sub {
  font-size: 30px;
  padding-top: 80px;
  padding-bottom: 30px;
}

/*コーディング*/

.coding,
.design,
.writing,
.others {
  position: relative;
  text-align: center;
}

.skill_img {
  position: absolute;
  width: 100%;
  height: 400px;
  top: -40px;
  left: 0%;
  padding-top: 40px;
  zoom: 110%;
}

.coding_icon {
  position: relative;
  top: 10%;
  left: 10px;
  height: 100%;
  margin: 0 auto;
  padding-top: 0px;
  zoom: 100%;
}

.coding_label {
  font-size: 22px;
  font-weight: normal;
  position: relative;
  top: -90px;
  left: -147px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.coding_skill {
  font-size: 18px;
  font-weight: normal;
  position: relative;
  top: -125px;
  left: 0px;
}

/*デザイン*/
.design_icon {
  position: relative;
  top: -20px;
  left: 20px;
  height: 100%;
  margin: 0 auto;
  zoom: 105%;
}

.design_label {
  font-size: 22px;
  font-weight: normal;
  position: relative;
  top: -114px;
  left: -94px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.design_skill {
  font-size: 18px;
  font-weight: normal;
  position: relative;
  top: -151px;
  left: 0px;
}

/*ライティング*/
.writing_icon {
  position: relative;
  top: -30px;
  left: 20px;
  height: 100%;
  margin: 0 auto;
  padding-top: 0px;
  zoom: 106%;
}

.writing_label {
  font-size: 22px;
  font-weight: normal;
  position: relative;
  top: -163px;
  left: -89px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.writing_skill {
  font-size: 18px;
  font-weight: normal;
  position: relative;
  top: -201px;
  left: 0px;
}

/*その他*/
.others_icon {
  position: relative;
  top: -85px;
  left: 30px;
  height: 100%;
  margin: 0 auto;
  padding-top: 0px;
  zoom: 105%;
}

.others_label {
  font-size: 22px;
  font-weight: normal;
  position: relative;
  top: -263px;
  left: -89px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.others_skill {
  font-size: 18px;
  font-weight: normal;
  position: relative;
  top: -301px;
  left: 0px;
}

/*つくったものエリア*/
.works {
  width: 100%;
  height: 1417px;
  background-color: #efe7b4;
}

.works h2 {
  padding-top: 87px;
  padding-left: 10%;
  padding-bottom: 66px;
  white-space: nowrap;
}

.works ul {
  display: flex;
  padding-bottom: 100px;
}

.container_1 {
  background-color: white;
  height: 400px;
  max-width: 1000px;
  width: 100%;
  position: absolute;
}
.container_2 {
  background-color: white;
  height: 400px;
  max-width: 1000px;
  width: 100%;
  right: 0%;
  position: absolute;
}

.web_design_image {
  padding-top: 53px;
  padding-left: 51%;

  height: 347px;

  position: relative;
}

.glass_art_image {
  padding-left: 55%;
  padding-top: 8px;
  width: 49%;
  position: relative;
}

.more_1 {
  padding-top: 310px;
  font-size: 18px;
  position: absolute;
  padding-left: 58%;
  padding-top: 365px;
}

.more_2 {
  padding-top: 320px;
  font-size: 18px;
  position: absolute;
  padding-left: 80%;
  padding-top: 365px;
}

.web {
  font-size: 27px;
  font-weight: normal;
  white-space: nowrap;
  padding-top: 5px;
  padding-left: 75%;
  position: absolute;
}

.glass {
  font-size: 27px;
  font-weight: normal;
  white-space: nowrap;
  padding-top: 3px;
  padding-left: 17%;
  position: absolute;
}
/*お問合せエリア*/
.contact {
  /* max-width: 1366px; */
  position: relative;
  overflow: hidden;
  margin-top: -100px;
}
.contact_contents {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.circle {
  min-height: 400px;
  border-top-right-radius: 1000px 200px;
  border-top-left-radius: 1000px 200px;
  margin-left: -100px;
  margin-right: -100px;
  background: #fff;
  padding: 100px;
}

.contact h2 {
  /* padding-top: 1300px; */
  /* padding-left: 10%; */
  white-space: nowrap;
}

.contact_drawing {
  /* position: relative;
  /* top: 1150px; */
  /* left: 53%;  */
  display: inline-block;
}

.contact_parts {
  width: 350px;
  /* padding-left: 10%; */
}

.contact ul {
  display: flex;
  /* position: relative;
  top: 650px;
  left: 0%; */
}
.contact_btn {
  font-size: 24px;
  padding-top: 73px;
}

.mail_icon {
  width: 40px;
  padding-top: 73px;
  padding-bottom: 100px;
  padding-left: 3%;
  width: 4%;
}

/*フッターエリア*/

.footer_era {
  max-width: 1366px;
  padding-top: 300px;
  background-image: url("../images/img/wave_main.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.circle_footer {
  display: inline-block;
  width: 140px;
  height: 140px;
  border-radius: 100% / 100%;
  border: solid 1px;
  color: #b2b2b2;
  position: relative;
  top: 244px;
  left: 92%;
  transform: rotate(90deg);
}

.scrollup span {
  position: relative;
  left: 97%;
  top: 200px;
  color: #b2b2b2;
  font-size: 13px;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.arrow_up_1 {
  width: 1px;
  height: 19px;
  position: relative;
  top: 128px;
  left: 96.6%;
  background: #b2b2b2;
  transform: skewX(31deg);
}

.arrow_up_2 {
  width: 1px;
  height: 80px;
  position: relative;
  top: 110px;
  left: 96%;
  background: #b2b2b2;
}

.background_wave {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: block;
  position: absolute;
  height: 440px;
}

/* .about {
  width: 100%;
  background-image: url("../images/img/wave_gr_1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.about_contents {
  max-width: 1000px;
  margin: 0 auto;
} */

.footer {
  max-width: 1366px;
  margin: 0 auto;
  text-align: center;
}

.footer_a {
  display: flex;
  font-size: 13px;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  white-space: nowrap;
}

.footer_a li {
  margin: 0 10px;
}

.sns_rnk {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram_icon,
.x_icon {
  width: 24px;
  margin: 41px 10px 42px;
  display: flex;
  align-items: center;
}

.sns_rnk img {
  width: 100%;
  height: auto;
}
.copyright {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}

@media screen and (max-width: 1100px) {
}
