@charset "UTF-8";

main > section {
  max-width: 100%;
  margin: 0 auto;
}

.container {
  position: relative; /*乗算背景基準*/
}
.background-overlay {
  background: url("../img/p0040_l.png");
  opacity: 0.4;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

/*ヘッダーエリア*/
.header_wrap {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_logo {
  font-family: "Hubballi";
  font-size: 20px;
  font-weight: normal;
  padding-top: 30px;
  padding-left: 72px;
  white-space: nowrap;
  z-index: 3;
}
.header_pc_ul {
  display: block;
  font-size: 12px;
  display: flex;
  padding-top: 30px;
}
.header_sp_ul {
  display: none;
}

.header_sp_nav {
  display: none;
}
.header_pc_nav li {
  padding-left: 30px;
  white-space: nowrap;
  padding-right: 15px;
  position: relative;
  z-index: 5;
}

.header_pc_nav a {
  position: relative;
  display: inline-block;
  transition: color 0.6s ease-out;
  padding-bottom: 3px;
}
.header_pc_nav {
  max-width: 1000px;
  margin: 0 auto;
}
.dropdown_lists {
  width: 100%;
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 1000;
}

.dropdown_lists li {
  visibility: hidden; /*デフォルトでは非表示の状態にしておく、見えない状態にしておく*/
}

.hnavi_list:hover .dropdown_lists li {
  display: block; /* ホバー時に表示 */
  visibility: visible; /* 見える */
}

.header_pc_ul li:hover > ul > li {
  height: 2rem;
  overflow: visible;
}

.header_pc_nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(91, 87, 62, 70);
  width: 100%;
  height: 1px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.5s ease-out;
  /*opacity: 0;
  transition: opacity 0.6s ease-out; 下線がふわっと出るタイプ*/
}
.header_pc_nav a:hover::after {
  transform: scale(1, 1);
  transform: right top;
  /*opacity: 1;  下線がふわっと出るタイプ*/
}

main {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
}

.contact_title {
  font-size: 55px;
  font-weight: normal;
  padding-top: 186px;
  padding-bottom: 70px;
  text-align: center;
  z-index: 2;
}

.contact_sbtitle {
  font-size: 19px;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 142px;
}

.c-form {
  max-width: 500px;
  margin: 0 auto;
}
.c-form__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 55px;
  margin-bottom: 20px;
}

.c-form__input {
  padding: 10px;
  width: 100%;
  font-family: "Zen Kaku Gothic Antique", "Hubballi", "游ゴシック", "YuMGothic",
    "Hiragino Mincho ProN W3", "ヒラギノ角ゴ", "HiraKaku";
  font-size: 16px;
  font-weight: lighter;
  opacity: 0.8;
  outline: none;
  border: 1px solid #efeeec;
  border-radius: 3px;
  align-items: center;
  z-index: 4;
}

textarea.c-form__input {
  height: 160px;
}
.c-form__submit {
  text-align: center;
  padding-top: 150px;
  padding-bottom: 30px;
  position: relative;
  z-index: 4;
}
.c-form__submit button {
  font-size: 16px;
  font-weight: lighter;
  color: #5b573e;
  background-color: #efe7b4;
  border-radius: 3px;
  padding: 5px 32px;
  transition: 0.8s;
  cursor: pointer;
  border: none;
  position: relative;
  z-index: 3;
}
.c-form__submit button:hover {
  color: #a0a08e;
  background-color: #a0a08e80;
  z-index: 2;
}

/*フッターエリア*/

.background_wave {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  display: block;
  position: absolute;
  height: 440px;
}
.footer_era {
  padding-top: 250px;
  background-image: url("../img/wave_main.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.footer {
  max-width: 1366px;
  margin: 0 auto;
  text-align: center;
}
.footer_a {
  display: flex;
  font-size: 13px;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  white-space: nowrap;
}
.footer_a li {
  margin: 0 10px;
}
.footer_nav a {
  position: relative;
}

.footer_nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(91, 87, 62, 70);
  width: 100%;
  height: 1px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.5s ease-out;
  /*opacity: 0;
  transition: opacity 0.6s ease-out; 下線がふわっと出るタイプ*/
}
.footer_nav a:hover::after {
  transform: scale(1, 1);
  transform: right top;
  /*opacity: 1;  下線がふわっと出るタイプ*/
}
.sns_rnk {
  display: flex;
  justify-content: center;
  align-items: center;
}
.instagram_icon,
.x_icon {
  width: 24px;
  margin: 41px 10px 42px;
  display: flex;
  align-items: center;
}
.sns_rnk img {
  width: 100%;
  height: auto;
}
.copyright {
  font-size: 11px;
  font-weight: lighter;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}

@media screen and (max-width: 1100px) {
  .header_pc_nav {
    display: none;
  }

  .header_sp_nav {
    display: block;
  }
  .header_logo {
    font-family: "Hubballi";
    font-size: 19px;
    font-weight: normal;
    padding-top: 30px;
    padding-left: 22px;
    white-space: nowrap;
  }

  /*ハンバーガーメニューエリア*/
  .sp_btn {
    display: block;
    height: 23px;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
  }

  .home_sp_circle {
    z-index: 7;
    width: 130%;
    overflow-x: hidden;
    position: relative;
    height: 100vh;
  }
  .home_sp_circle img {
    transform: rotate(0deg);
    position: absolute;
    top: 0%;
    left: 0%;
    width: 110%;
    max-width: 1100px;
    min-width: 1100px;
    max-height: 860px;
  }
  .sp_btn span {
    display: block;
    width: 33px;
    height: 1px;
    border-radius: 2px;
    background: #5b573e;
    position: relative;
    top: 45px;
    right: 70%;
    transition: 0.3s;
  }
  .sp_btn span::before,
  .sp_btn span::after {
    content: "";
    display: block;
    width: 33px;
    height: 1px;
    border-radius: 2px;
    background: #5b573e;
    position: absolute;
    transition: 0.3s;
  }
  .sp_btn span::before {
    bottom: 12px;
  }
  .sp_btn span::after {
    top: 12px;
  }

  /*ばつ印*/
  .sp_btn.open span {
    background: transparent;
  }
  .sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  .sp_btn.open span::after {
    top: 0;
    transform: rotate(135deg);
  }
  .header_sp_nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #8b8c8c;
    z-index: 5;
  }
  .header_sp_nav.active {
    display: flex;
  }
  .header_sp_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20%;
    height: 100%;
  }
  .header_sp_nav li {
    margin: 20px;
    padding-bottom: 3px;
    color: #5b573e;
    font-family: "Zen Kaku Gothic Antique", "Hubballi", "游ゴシック",
      "YuMGothic", "Hiragino Mincho ProN W3", "ヒラギノ角ゴ", "HiraKaku";
    font-weight: lighter;
    font-size: 14px;
    position: relative;
  }
  .dropdown_lists {
    width: 100%;
    position: absolute;
    top: 29px;
    left: 110%;
    white-space: nowrap;
    z-index: 1000;
  }

  .dropdown_lists li {
    visibility: hidden; /*デフォルトでは非表示の状態にしておく、見えない状態にしておく*/
    font-size: 11px;
  }
  .web_design_child {
    top: -3px;
    right: -5px;
  }

  .glass_art_child {
    top: -26px;
  }

  .hnavi_list:hover .dropdown_lists li {
    display: block; /* ホバー時に表示 */
    visibility: visible; /* 見える */
  }

  .header_pc_ul li:hover > ul > li {
    height: 2rem;
    overflow: visible;
  }

  .header_sp_nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #5b573e;
    width: 100%;
    height: 1px;
    transform: scale(0, 1);
    transform-origin: left bottom;
    transition: transform 0.5s ease-out;
  }
  .header_sp_nav a:hover::after {
    transform: scale(1, 1);
    transform: right top;
  }
  picture {
    max-width: 100%;
    width: 100%;
  }

  main {
    max-width: 1000px;
    margin: 0 auto;
  }

  .container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .container_item {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  /*全体*/
  picture {
    max-width: 767px;
    width: 100%;
  }
  main > section,
  .header {
    max-width: 300px;
    width: 100px;
  }
  h2 {
    font-size: 20px;
    padding-top: 137px;
  }

  /*----------------------*/
  /*ヘッダーとホームエリア*/
  .header_pc_ul {
    display: none;
  }
  .header_wrap {
    overflow-x: hidden;
    width: 100%;
  }
  .header_logo {
    font-family: "Hubballi";
    font-size: 19px;
    font-weight: normal;
    padding-top: 30px;
    padding-left: 22px;
    white-space: nowrap;
  }

  main {
    max-width: 767px;
    margin: 0 auto;
    width: 100%;
  }
  .contact_title {
    font-size: 20px;
    font-weight: normal;
    padding-top: 57px;
    padding-left: 0%;
    padding-bottom: 38px;
    text-align: center;
  }

  .contact_sbtitle {
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    padding-bottom: 95px;
    padding-top: 0px;
  }

  .c-form {
    max-width: 330px;
    margin: 0 auto;
  }
  .c-form__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 55px;
    margin-bottom: 20px;
  }

  .c-form__input {
    padding: 10px;
    width: 100%;
    font-family: "Zen Kaku Gothic Antique", "Hubballi", "游ゴシック",
      "YuMGothic", "Hiragino Mincho ProN W3", "ヒラギノ角ゴ", "HiraKaku";
    font-size: 12px;
    font-weight: lighter;
    opacity: 0.8;
    outline: none;
    border: 1px solid #efeeec;
    border-radius: 3px;
    align-items: center;
  }

  textarea.c-form__input {
    height: 160px;
  }
  .c-form__submit {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 100px;
  }
  .c-form__submit button {
    font-size: 12px;
    font-weight: lighter;
    color: #5b573e;
    background-color: #efe7b4;
    border-radius: 3px;
    padding: 5px 32px;
    transition: 0.8s;
    cursor: pointer;
    border: none;
  }
  .c-form__submit button:hover {
    color: #a0a08e;
    background-color: #a0a08e80;
  }

  /*----------------------*/
  /*フッターエリア*/
  .footer_era {
    background-image: url("../img/wave_sp_bl@2x.png");
    padding-top: 0px;
    background-size: cover;
  }
  .footer {
    max-width: 765px;
    margin: 0 auto;
    text-align: center;
  }
  .footer_a {
    flex-direction: column;
    font-size: 12px;
    justify-content: center;
    white-space: nowrap;
    padding-top: 62px;
  }
  .footer_a li {
    margin: 25px 25px 25px;
  }
  .sns_rnk {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .instagram_icon,
  .x_icon {
    width: 29px;
    margin: 20px 0px 40px;
    display: flex;
    align-items: center;
  }
  .sns_rnk img {
    width: 100%;
    height: auto;
  }
  .copyright {
    font-size: 8px;
    font-weight: lighter;
  }
}
